/* src/styles/login.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e4ebec, #c9f7fc);
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #00bcd4;
  outline: none;
}

.submit-btn {
  background-color: #00bcd4;
  color: white;
  padding: 12px 20px;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0097a7;
}

@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }

  .login-title {
    font-size: 1.8rem;
  }
}


/* src/components/adminlayout/Layout.css */

/* General Layout Container */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.layout-header {
  background-color: #34495e;
  color: white;
  /* padding: 10px; */
  text-align: center;
}

/* Navbar */
.layout-navbar {
  background-color: #2a3f54;
  color: white;
  padding: 10px;
  justify-content: space-between;
}

/* Sidebar */
.layout-sidebar {
  background-color: #34495e;
  color: white;
  width: 250px;
  height: calc(100vh - 60px); /* Adjust for header height */
  position: fixed;
  top: 75px; /* Same as header height */
  left: 0;
  overflow-y: hidden;
  padding: -15px;
}

/* Body Content */
.layout-body {
  display: flex;
  margin-left: 250px; /* Sidebar width */
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}

/* Main Content */
.layout-content {
  flex-grow: 1;
  background-color: #f5f7fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
.layout-footer {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
